{% extends 'layout.html' %}

{% block body %}
<div class="site-wrapper">
	<div class="site-wrapper-inner main-bg">
		<div class="container">
			<div class="row">

				<div class="col-xs-12">
					<div class="cover-container pull-left white">
					  <div class="inner cover">
					    <h1 class="cover-heading">Bootstrap + Flask webapp</h1>
					    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
					    <p class="lead">
					      <a href="#" class="btn btn-lg btn-default">Get started</a>
					    </p>
					  </div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}